h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  border: 1px solid #ECECEC;
  margin: 0;
}

.hero, .benefits__section, .about__section, .team, .clients, .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav, .contacts, .social-media, .benefits__list, .about__list, .about__item, .team__list, .social-link, .clients__list, .address__list, .btn-bar, .card {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__logo, .footer__logo, .footer .contact__link, .address__link, .card__link {
  text-decoration: none;
}

.header__container, .hero__position, .benefits, .about, .team__container, .clients__container, .footer__container, .portfolio__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

.benefits__hidden, .checkbox__input, .portfolio__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*------TITLES FOR MAIN PAGE--------*/
.about__title, .team__title, .clients__title {
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  display: block;
}

.logo__discoloration {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.29;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding: 16px 0;
  }
}

.footer__logo {
  padding-top: 60px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  position: relative;
}

@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__meta {
    padding: 48px 40px 48px 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 2;
}

.btn-menu:hover, .btn-menu:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu__icon {
  fill: currentColor;
}

.btn-menu .btn-menu__icon--cross {
  display: none;
}

.btn-menu.is-open .btn-menu__icon--cross {
  display: block;
}

.btn-menu.is-open .btn-menu__icon--menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .btn-menu__box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: scroll;
    padding: 48px 40px 48px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .btn-menu__box.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .btn-menu__box {
    flex-grow: 1;
    margin-left: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .btn-menu__box {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 306px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }
}

.site-nav__link--underline {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--underline {
    position: relative;
  }
  .site-nav__link--underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 4px;
    height: 4px;
    width: 100%;
    background-color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.contacts__link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .contacts__link--mobile {
    font-size: 34px;
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.social-media {
  display: flex;
}

@media screen and (min-width: 768px) {
  .social-media {
    display: none;
  }
}

.social-media__item {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-media__item:last-child {
  padding-right: 0;
  border-right: none;
}

.social-media__item:first-child {
  padding-left: 0;
}

.social-media__link {
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover {
  color: #2196F3;
}

.hero {
  max-width: 1600px;
  text-align: center;
  display: flex;
  padding: 118px 0;
  background-color: #2F303A;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-480px.jpg);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero2x-480px.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-768px.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero2x-768px.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-1600px.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero2x-1600px.jpg);
  }
}

.hero__position {
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero__position {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__position {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__position {
    width: 1200px;
  }
}

.hero__title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/*------BUTTON HERO-----*/
.btn__hero {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border-style: hidden;
  padding: 10px 32px;
  min-width: 200px;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__hero:focus,
.btn__hero:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 480px) {
  .benefits {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    width: 1200px;
  }
}

.benefits__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  height: 120px;
  border: none;
}

.benefits__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
  justify-content: center;
}

.about__item {
  position: relative;
  max-height: 294px;
  margin-right: 30px;
}

.about__item:last-child {
  margin-right: 0;
}

.about__subject {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  padding: 27px 82px;
  width: 100%;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 480px) {
  .team__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: center;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-left: 30px;
  }
}

.team__item:first-child {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .team {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-link__item + .social-link__item {
  margin-left: 10px;
}

.social-link__item {
  width: 44px;
  height: 44px;
}

.social-link__icon {
  fill: currentColor;
}

.social-link__link {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__link:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.clients {
  background-color: var(--bckground-color);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .clients__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .clients__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.clients__link .clients__icon {
  box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link .clients__icon:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/* -------------------MODAL WINDOW----------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: #2196F3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

/* -------------------FORM----------------- */
.form {
  width: 370px;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__label {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translate(Y -50%);
  margin-left: 15px;
}

.form__input:focus {
  border-color: #2196F3;
}

.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.form__textarea:focus {
  border-color: #2196F3;
}

.form__label ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: hidden;
  padding: 10px 55px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:focus, .form__btn:hover {
  background-color: #188CE8;
  color: #F5F4FA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------------CHECKBOX---------------- */
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
  }
}

.checkbox__icon {
  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__icon {
  fill: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: content-box;
}

.checkbox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__link {
  color: #2196F3;
}

.footer {
  background-color: #2F303A;
  /* -------------------FOOTER FORM--------------- */
}

@media screen and (min-width: 480px) {
  .footer__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-meta {
    padding-left: 76px;
  }
}

@media screen and (max-width: 767px) {
  .footer__network {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__network {
    margin-left: 165px;
    margin-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__network {
    margin-left: 60px;
  }
}

.footer__title {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer .contact__link {
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contact__link:focus,
.footer .contact__link:hover {
  color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .footer__mailing {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mailing {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing {
    margin-left: auto;
  }
}

.footer__input {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__form {
    padding-bottom: 60px;
  }
}

.footer__form::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__fieldset {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__fieldset {
    flex-direction: column;
    align-items: center;
  }
}

.footer__btn {
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer__btn {
    margin-top: 20px;
  }
}

.footer__btn:focus, .footer__btn:hover {
  background-color: #188CE8;
}

.footer__icon {
  margin-left: 10px;
}

.address {
  margin-bottom: 60px;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.portfolio {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .portfolio__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__container {
    width: 1200px;
  }
}

/*------------BUTTONS PORTFOLIO--------*/
@media screen and (max-width: 767px) {
  .btn-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .btn-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.btn-bar__item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .btn-bar__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.btn-bar__btn {
  line-height: 1.61;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: hidden;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-bar__btn--current, .btn-bar__btn:hover {
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------------CARDS--------------*/
.card {
  display: block;
  /*-------ANIMATION CARD-TEXT-------*/
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .card__item {
    margin-bottom: 30px;
    text-align: center;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 90px) / 3);
  }
}

.card__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item:hover .card__description {
  transform: translateY(0);
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #212121;
  margin-bottom: 4px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.card__footer {
  border: 1px solid #EEEE;
  padding: 20px 24px;
}

.card__meta {
  position: relative;
  overflow: hidden;
  max-height: 294px;
}

.card__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */