$main-color: #212121;
$box-color: #2F303A;
$accent-color: #2196F3;
$contact-color: #757575;
$btn-bg-color: #F5F4FA;
$bckground-color:#FFFFFF;
$form-color:#757575;
$soc-icons:#AFB1B8;
$bot-adress-color:rgba(255, 255, 255, 0.6);
$line-color:#ECECEC;
$border-card-color:#EEEE;
$footer-icons-bgcolor:rgba(255, 255, 255, 0.1);
$overlay-bg:rgba(33, 150, 243, 0.9);
$secondary-font-family: 'Raleway',
sans-serif;
$primaly-font-family: 'Roboto',
sans-serif;
$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);